header {
  display: grid;
  grid-template-columns: 900px;
  grid-template-rows: 80px;
  place-items: center;
  justify-content: center;
  background-color: orange;
  color: black;
  font-family: 'Geostar Fill', cursive;
  font-size: 30px;
}

button {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-color: green;
  color: green;
}

#botonRectangulo {
  border-radius: 0px;
  border-width: 0px;
}

#botonTriangulo {
  border-radius: 0px;
  border-width: 0px;
}

#botonCuadrado {
  border-radius: 0px;
  border-width: 0px;
}

main {
  display: grid;
  grid-template-columns: 600px 300px;
  height: 400px;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  justify-content: center;
}

.calculadora {
  font-family: 'Georama', sans-serif;
  font-size: 15px;
}

.botoneraFiguras {
display: grid;
grid-template-columns: auto auto auto;
}

footer {
  display: grid;
  grid-template-columns: 900px;
  grid-template-rows: 40px;
  place-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  font-family: 'Georama', sans-serif;
  font-size: 15px;
}

#valorResultadoCuadrado {
  color: red;
}

#valorResultadoRectangulo {
  color: red;
}

#valorResultadoTriangulo {
  color: red;
}

#valorParametro1 {
  color: blue;
}

#valorParametro2 {
  color: green;
}
