
body {
  margin: 0 auto;
  background-image: url("imgs/img-portada-preguntas.jpg");
  background-size: cover;
}

.divOndaGlowing {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow:
  0 0 60px 30px #fff,
  0 0 100px 60px brown,
  0 0 140px 90px #fff;
}
.claseContenedorPortada {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.claseContenedorPreguntas {
  align-items: center;
  justify-content: center;
  /* background-image: url("imgs/img-portada-preguntas.jpg"); */
  /* background-size: cover; */
}

.claseImagenDeFondo {
  filter: brightness(30%);
  background-size: cover;
  background-color: #fff;
  border-radius: 50%;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff;
}

.claseTitularPortada {
color: white;
position: absolute;
text-align: center;
}

.titular {
  padding-top: 10px;
  text-align: center;
}

#idTitulo {
  font-family: fantasy;
  font-size: 30px;
  text-shadow: 3px 3px #C0898F;
  color: white;
}

#idSubTitulo {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  color: orange;
}

.claseTituloPortada {
  font-family: fantasy;
  font-size: 55px;
  text-shadow: 3px 3px #C0898F;
}

.claseSubTituloPortada {
  font-family: monospace;
  font-size: 30px;
  padding-top: 10px;
  color: #EDBF8D;
}

.claseBotonPortada {
  margin-top: 30px;
}

#idDivUsuario {
  font-family: monospace;
  color: #EDD966;
  text-shadow: 0.5px 0.5px #A28922;
}

#idDivClaseTiempo {
  font-family: monospace;
  color: #EDD966;
  text-shadow: 0.5px 0.5px #A28922;
}

#idDivResultado {
  text-align: center;
  font-family: monospace;
  color: #EDD966;
  font-size: 20px;
}

#idBotonPortada {
  width: 120px;
  height: 50px;
  border-radius: 30px;
  background-color: orange;
  font-size: 18px;
    opacity: 50%;
  color: white;
}

#idBotonPortada:hover {
  opacity: 90%;
  cursor:pointer;
}

.enunciado{
  text-align: center;
  font-family: monospace;
  font-size: 22px;
  padding-top: 0px;
  color: white;
}
.claseCategoria{
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  padding-top: 2px;
  color: #ECBE83;
}

#idSpanIconoCategoria {
  color: #ECBE83;
}

button#idBotonComenzar{
  background-color: blue;
  color: white;
  width:120px;
  border-radius: 5px;
  border-width: 0px;
  margin-left: 580px;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
}
button#idBotonComenzar a{
  text-decoration: none;
}
:visited {
  color:white;
}

button#idBotonHacerPregunta{
  background-color: green;
  color: white;
  width:140px;
  border-radius: 5px;
  border-width: 0px;
  margin-left: 600px;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
}

.columnas {
  display: grid;
  grid-template-columns: 300px 300px;
}
.pregunta {
  width: 600px;
  height: 350px;
  margin: auto;
  margin-top: 10px;
  border-style: dashed solid;
  border-color: #EEB935;
  border-width: 4px;
  margin-bottom: 10px;
  background-color: rgb(136,74,1,0.5);
}

.opcionesPreguntas{
  margin-top: 20px;
  margin-left: 20px;
  justify-content: left;
}

.imgPregunta{
  margin-left: 20px;
  margin-top: 20px;

}

#imagenPregunta {
  max-width: 280px;
  max-height: 220px;
  border: solid black 2px;
}

.opcionPregunta {
  width: 250px;
  height: 30px;
  border: solid #4b4747;
  border-width: thin;
  border-radius: 5px;
  padding: 10px;
  color: #4b4747;
  font-family: sans-serif;
  font-size: 16px;
}

.opcionPregunta#opcion1 {
  background-color: #f7f4c7;
}
.opcionPregunta#opcion2 {
  background-color: #dbf9dd;
}
.opcionPregunta#opcion3 {
  background-color: #fadba0;
}
.opcionPregunta#opcion4 {
  background-color: #99e9fb;
}

.opcionPregunta#opcion1:hover {
background-color: #d4cccc;
cursor: pointer;
border-color: white;
}

.opcionPregunta#opcion2:hover {
background-color: #d4cccc;
cursor: pointer;
border-color: white;
}

.opcionPregunta#opcion3:hover {
background-color: #d4cccc;
cursor: pointer;
border-color: white;
}

.opcionPregunta#opcion4:hover {
background-color: #d4cccc;
cursor: pointer;
border-color: white;
}

p {
  text-align: center;
}

.claseCuadroDeHonor {
  justify-content: center;
  text-align: center;
}

table {
  margin-top: 10px;
  margin-left: 480px;
  border-collapse: collapse;
  border-spacing: 0;
    }
th {
      padding: 10px 20px;
      border: 1px solid #fff;
      background-color: #EEBA71; /* encabezado */
      font-family: sans-serif;
    }
td {
      padding: 10px 10px;
      border: 1px solid #fff;
      background-color: #EECB49; /* filas */
      font-family: monospace;
      opacity: 70%;
    }
  td#filaTiempo0 {
    color: white;
    font-size: 17px;
    font-weight: bold;
  }
  td#filaUsuario0 {
    color: white;
    font-size: 17px;
    font-weight: bold;
  }
  td#filaPuntaje0 {
    color: white;
    font-size: 17px;
    font-weight: bold;
  }

ul {
  list-style-type: none;
  text-align: center
}
